<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetFilmes</title>
    <!-- Halfmoon CSS -->
    <link href="/halfmoon/css/halfmoon-variables.min.css" rel="stylesheet" />
    <!--
    Or,
    Use the following (no variables, supports IE11):
    <link href="path/to/halfmoon.min.css" rel="stylesheet" />
    -->

    <!-- Halfmoon JS -->
    <script src="/halfmoon/js/halfmoon.min.js"></script>
</head>
