<%- include ('../../partials/header.ejs') %> 
<%- include ('../../partials/navbarAdm.ejs') %> 
<body>

<div class="card">
    <div class="card-title">
        <h3>Criar uma nova categoria</h3>
    </div>
    <form action="/admin/categories/save" method="POST">
        <input type="text" name="name" class="form-control form-control-lg" placeholder="Categoria">
        <br>
        <div class="d-flex flex-row-reverse">
            <button type="submit" class="btn btn-primary ">Criar</button>
        </div>
    </form>
</div>

</body>



<%- include ('../../partials/footer.ejs') %> 