<%- include ('../../partials/header.ejs') %> 
<%- include ('../../partials/navbar.ejs') %> 
<body>

    <div class="card ">
        <div class="card-title d-flex justify-content-center">
            <h2>Voce nao comprou nenhum filme</h2>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <h4>Volte para compra Filmes</h4>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <a href="/" class="btn btn-success btn-block">Volta</a>
            </div>

        </div>
    </div>
</body>

<%- include ('../../partials/footer.ejs') %> 